object Host "{{ hostvars[item]['ansible_fqdn'] }}" {
  import "generic-host"
  address = "{{ hostvars[item]['ansible_enp0s8']['ipv4']['address'] }}"
  vars.os = "{{ hostvars[item]['ansible_system'] }}"
  vars.os_family = "{{ hostvars[item]['ansible_os_family'] }}"

  check_command = "http"
  vars.operator = "on_call"
  vars.sla = "24x7"
}

object Service "load_average" {
  host_name = "{{ hostvars[item]['ansible_fqdn'] }}"
  check_command = "check_nrpe"
  vars.remote_nrpe_command = "check_load"
  }
object Service "disk" {
  host_name = "{{ hostvars[item]['ansible_fqdn'] }}"
  check_command = "check_nrpe"
  vars.remote_nrpe_command = "check_disk"
  }
object Service "http" {
  host_name = "{{ hostvars[item]['ansible_fqdn'] }}"
  check_command = "http"
  vars.http_vhost = "{{ hostvars[item]['ansible_domain'] }}"
}